@(bookForm: Form[Book])

@import views.html.templates.layout;
@import helper.form
@import helper.inputText
@import helper.CSRF.formField

@layout("Create book"){
    <h1>Add new book</h1>
    @helper.form(action = routes.BooksController.save()) {
        @helper.inputText(bookForm("id"))
        @helper.inputText(bookForm("title"))
        @helper.inputText(bookForm("price"))
        @helper.inputText(bookForm("author"))
        @helper.CSRF.formField
        <input type="submit" value="Create book">
    }
}
